<link rel="stylesheet" href="../public/css/style.css">
<script src="../public/js/server.js" defer></script>

<header>
    <nav class="heading-nav">
        <a href="/">Tony Liu</a>
        <menu>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/resume">Resume</a>
            <a href="/contact">Contact</a>
        </menu>
    </nav> 
</header>