<header>
    <nav class="heading-nav">
        <button>Tony Liu</button>
        <menu>
            <button>Home</button>
            <button>About Me</button>
            <button>Projects</button>
            <button>Resume</button>
            <button>Contact</button>
        </menu>
    </nav> 
</header>