<nav>
    <div id="linksContainer">
        <a class = "links" href="/">Home</a>
        <a class = "links" href="/about">About</a>
        <a class = "links" href="/projects">Project Githubs</a>
        <a class = "links" href="/liveDemo">Project Demos</a>
        <a class = "links" href="/resume">Resume</a>
        <a class = "links" href="/contact">Contact</a>
        <a class = "links" href="/linkedin">LinkedIn</a>
        <a class = "links" href="/github">GitHub</a>
    </menu>
</nav> 