<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/sideNav.js"  defer></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div id="main">
        <div id="form">
            <h2>Contact Form</h2>
            <form id="contactInfo" action="/contact" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="message">Message:</label>
                <textarea id="message" name="message required"></textarea>
                
                <button type="submit">Submit</button>
            </form>
        </div>
        <!-- utilizing ejs if statements to show successful or failure in sending form -->
        <% if(message) { %>
            <div id="formSentNotif">
                <p><%= message %></p>
            </div>
        <% } %>
    </div>
    <%- include('./partials/backToTop') %>
</body>
</html>