<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tony's Portfolio</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Doto:wght@100..900&display=swap" rel="stylesheet">
    <script src="/js/sideNav.js" defer></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="main">
        <div id="introSect">
            <p>Hi, my name is</p>
            <br>
            <p id="name">Tony Liu</p>
            <br>
            <p>
                I'm a former consultant/estimator in construction, and am currently looking to break
                into Software Quality Assurance/Development. 
                To get to know me better, and to look at things
                I've worked on, check out the links below
            </p>  
            <%- include('./partials/links') %>
        </div>        
    </div>
    <%- include('./partials/backToTop') %>
</body>
</html>