<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/weatherApp/weather.css">
    <script src="/js/sideNav.js" defer></script>
    <script src="/js/backToTop.js"  defer></script>
    <script src="/weatherApp/weather.js" defer></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="weatherContainer">
        <input type="text" id="locationInput" placeholder="Enter a city">
        <button id="weatherSearch">Search</button>
        <div class="weather-info">
            <h2 id="location"></h2>
            <p id="temp"></p>
            <p id="desc"></p>
        </div>
    </div>
    <%- include('./partials/backToTop') %>
</body>
</html>