*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4d4b4b;
}

header{
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: .05em;
    border-color: rgb(190, 190, 190);
    background-color: rgb(233, 237, 201);
}

a, 
button, 
#openMenu{
    font-size: 1.5em;
    border: 0;
    padding-right: .5em;
    padding-left: .5em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#openMenu{
    display: flex; 
    align-items: center;
}

#sideNav {
    height: 100%; 
    width: 0; 
    position: fixed; /* stay in place */
    z-index: 1; /* stay on top */
    top: 0; 
    left: 0;
    background-color: rgb(233, 237, 201);
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 60px; /* place content 60px from the top */
    transition: 0.5s; /*transition effect to slide in the sidenav */
}

#sideNav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sideNav .closeBtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 0;
    margin-top: 0;
    padding-right: 10px;
    padding-left: 10px;
}

#sideNav #logout{
    display: none;
}

#main{
    display: flex;
    flex-direction: column;
    transition: margin-left .5s ease;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#contactContainer, 
#resumeContainer, 
#formSentNotif, 
#aboutMeContainer, 
#introContainer, 
.formFormatContainer, 
#registerContainer,
#projectContainer,
#wishListContainer{
    width: 100%;
    max-width: 1000px;
}

#contactContainer button, 
#weatherContainer button, 
.formFormatContainer button, 
.formFormatContainer a{
    background-color: rgb(233, 237, 201);
    margin-top: 1vh;
}

.formFormatContainer a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1px 0;
}

#message{
    height: 20vh;
}

#name {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 800;
    font-size: 65px;
}

#linksContainer {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 1em;
}

#btnBackToTop{
    display: none;
    position: fixed;
    background-color: rgb(233, 237, 201);
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    padding-top: 6px;
}

.iframe-wrapper {
    height: 85vh;
    width: 100%;
    margin: 0;
    display: flex;
}
  
.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}
 
.formFormatInfo
{
    display: flex;
    flex-direction: column;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 300px); /* 3 columns, each 300px wide */
    grid-auto-rows: 400px; /* Each row is 400px */
    gap: 50px; /* give spacing to each card, so transition doesn't overlap other cards */
    margin-bottom: 20px;
}

#projectContainer, #wishListContainer{
    display: flex;
    flex-direction: column;
}

.wishListHeader{
    display: flex;
    justify-content: space-between;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 250px;
    height: 400px;
}

.cardDetailsContainer{
    display: flex;
    flex-direction: column;
}

.cardImgContainer{
    display: flex;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.card img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

a:hover, 
button:hover, 
#openMenu:hover, 
.card:hover{
    background-color: rgb(204, 213, 174) !important;
    transform: scale(1.02) !important;
}

.deleteWishList button:hover{
    background-color: rgb(216, 178, 178) !important;
}

@media (max-width: 800px) {
    .sideNavContainer{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .sideNavContainer a{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
    }
    #sideNav .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 36px;
        color: #818181;
    }

    #sideNav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    #main {
        padding: 10px;
    }
    header {
        flex-wrap: wrap; 
    }

    #name {
        font-size: 30px; 

    }
    .introContent {
        display: flex;
        flex-wrap: wrap;
    }

    #linksContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutMeContainer h2{
        font-size: x-large;
    }

    .aboutMeContent, 
    .introContent {
        font-size: large;
    }

    .gridContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}

